.containerForm {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #081020;


  .form {
    width: 35vw;
    margin-top: 30px;

    .title {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 30px;
      font-weight: bold;
    }
  }
}
