.container-edit {
  margin-top: 150px;

  .title-edit {
    font-family: 'poppins';
    color: $terciary;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 10px $terciary,
      0 0 40px $terciary,
      0 0 60px $terciary,
      0 0 80px $terciary,
      0 0 100px $terciary;
    z-index: 9999;
  }

  .buttons-edit {
    display: flex;
    justify-content: space-around;
  }

  .label-new-edit {
    font-size: 1em;
    display: block;
    font-family: $body-font;
    color: $primary;
    text-shadow: 0 0 10px $primary,
      0 0 40px $primary,
      0 0 60px $primary,
      0 0 80px $primary,
      0 0 100px $primary;
  }

  .section-divider-edit {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .glass-edit {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    // box-shadow: 0 0 10px $terciary,
    // 0 0 20px $terciary;
  }

  .glass-label-edit {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    color: $white;

    &:focus {
      background: rgba(255, 255, 255, 0.09);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.23);
      color: $black;
  }
}

  strong {
    opacity: 1;
    color: $terciary;
    text-shadow: 0 0 10px $terciary,
      0 0 40px $terciary,
      0 0 60px $terciary,
      0 0 80px $terciary,
      0 0 100px $terciary;
  }


  .new-text {
    width: 88ch;
    color: $primary;
    text-shadow: 0 0 10px $primary,
      0 0 40px $primary,
      0 0 60px $primary,
      0 0 80px $primary,
      0 0 100px $primary;
    font-size: .9em;
    margin: 10px auto;
  }

  .create-friend-edit {
    font-weight: 500;
    color: $primary;
    text-shadow: 0 0 10px $primary,
      0 0 40px $primary,
      0 0 60px $primary;


    &:hover {
      border: transparent;
      opacity: .8;
    }

    &:focus {
      border: transparent;
    }
  }

  .cursor {
    cursor: pointer;
  }

  .GFG {

    width: 200px;
    height: 250px;
    margin-left: 550px;
    border-radius: 10%;
    opacity: .7;
  }

  .GFG:hover {
    color: #111;
    background: $primary;
    box-shadow: 0 0 100px $primary;
  }


  .wrapper {
    width: 600px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  div.gallery {
    margin-top: 10px;
  }

  div.gallery ul {
    list-style-type: none;
    margin-left: 35px;
  }

  /* animation */
  div.gallery ul li,
  div.gallery li article {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  div.gallery ul li {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 5px;
    padding: 5px;
    z-index: 0;
    opacity: .5;
  }

// splash image
}
