		<section id="partners">
			<div class="container my-3 py-5 text-center">
				<div class="row mb-5">
					<div class="col">
						<h1>ABOUT US</h1>
						<h5 class="mt-3">If you are that person that lost too many friends because you forgot their birthdays, WE ARE HERE TO HELP! We want to make sure that never happens again</h5>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<img src="<%= image_path("leonardo.png")%>" class="img-fluid rounded-circle">
								<h3>Leonardo Fukuje</h3>
								<h5>Fullstack Developer</h5>
								<p>Sou tecnólogo em processos de produção formado pela Faculdade de tecnologia de São Paulo, atualmente trabalho no setor comercial da TROX Brasil. Adoro aprender coisas novas como diferentes tecnologias, línguas e etc.</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="#">
											<i class="fab fa-instagram list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
										<i  class="fab fa-linkedin list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
											<i class="fab fa-github list"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<img src="<%= image_path("lorenzo.jpg")%>" class="img-fluid rounded-circle">
								<h3>Lorenzo Zuccarelli</h3>
								<h5>FullStack Developer</h5>
								<p>Estudante Avenues São Paulo. Tenho interesse em design, queria muito trabalhar algo que junta minha paixão por design com meu interesse em programação.</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="https://instagram.com/lorenzo.zuccarelli?igshid=ZDYzZTNjNWY=">
											<i class="fab fa-instagram list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="www.linkedin.com/in/lorenzo-zuccarelli-74614524a">
											<i class="fab fa-linkedin list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="https://github.com/lorenpzucca">
											<i class="fab fa-github list"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<img src="<%= image_path("mateus.jpg")%>" class="img-fluid rounded-circle">
								<h3>Mateus Ferreira</h3>
								<h5>FullStack Developer</h5>
								<p>I'm graduated in software engineer, love to solve problems and learning new ways to do a task. After Le Wagon I intend to get a job in exterior.</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="#">
											<i class="fab fa-instagram list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
											<i class="fab fa-linkedin list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
											<i class="fab fa-github list"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<img src="<%= image_path("murilo.jpg")%>" class="img-fluid rounded-circle">
								<h3>Murilo Bergamin</h3>
								<h5>FullStack Developer</h5>
								<p>Olá, meu nome é Murilo Henrique Bergamin, sou de Jaú, interior do estado de São Paulo, atualmente auxiliar administrativo, formado em Tecnologia da Informação pela Fatec de Jaú, estou em busca de novos ares, inclusive uma nova carreira.</p>
								<div class="d-flex flex-row justify-content-center">
									<div class="p-4">
										<a href="#">
											<i class="fab fa-instagram list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
											<i class="fab fa-linkedin list"></i>
										</a>
									</div>
									<div class="p-4">
										<a href="#">
											<i class="fab fa-github list"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
