.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding-bottom: 70px;

  h2 {
   color: $primary;
   text-align: center;
  }

  .color_label {
    color: $primary;
  }

  .left-col {
    width: 40vw;
    height: 350px;
    background-image: url("unforgettablelogin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .right-col {
    background: var(--bg-color);
    width: 50vw;
    padding-bottom: 30px;
  }

  .signup {
    text-decoration: none;
    color: $white;
  }

  .btn-login {
    width: 100%;
    background: $primary;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
  }

  .btn-login:hover {
    opacity: .5;
  }
}
