.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding-bottom: 70px;

  h2 {
   color: $primary;
   text-align: center;
    text-shadow: 0 0 10px $terciary,
      0 0 40px $terciary,
      0 0 60px $terciary,
      0 0 80px $terciary,
      0 0 100px $terciary;
      z-index: 9999;
  }

  .color_label {
    color: $primary;
  }

    .label-new {
      font-size: 1em;
      display: block;
      font-family: $body-font;
      color: $primary;
      text-shadow: 0 0 10px $primary,
        0 0 40px $primary,
        0 0 60px $primary,
        0 0 80px $primary,
        0 0 100px $primary;
    }

  .left-col {
    width: 45vw;
    height: 100%;
    background-image: url("unforgettablelogin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .right-col {
    background: var(--bg-color);
    width: 50vw;
    padding-bottom: 30px;
  }

  .signup {
    text-decoration: none;
    color: $white;
  }

  .btn-login {
    width: 50%;
    margin-bottom: 10px;
    background: $primary;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
  }

  .btn-login:hover {
    opacity: .5;
  }
}
