.navbar-lewagon {
  justify-content: space-between;
  background: $glass-effect-background;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  padding: 10px;


  .nav-link {
    color: $primary;
    text-shadow: 0 0 10px $primary,
    0 0 40px $primary,
    0 0 60px $primary,
    0 0 80px $primary,
    0 0 100px $primary;

    &::after{
      content: "";
      display: block;
      height: 2.5px;
      width: 0px;
      background: $primary;
      position: absolute;
      margin-top: 4px;
      transition: 0.3s;
    }

    &:hover::after {
      width: 85px;
      transition: width .6s;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.header-menu a::after {

}

.avatar-blue{
  filter:hue-rotate(215deg)
}

.logo-scale{
  width: 50px;
  height: 30px;
}

.typed-fixed{
  color: $terciary;
  text-shadow: 0 0 10px $terciary,
    0 0 40px $terciary,
    0 0 60px $terciary,
    0 0 80px $terciary,
    0 0 100px $terciary;
    font-size: .8em;
}

.typed-shift{
  color: $primary;
  text-shadow: 0 0 10px $primary,
    0 0 40px $primary,
    0 0 60px $primary,
    0 0 80px $primary,
    0 0 100px $primary;
    font-size: .8em;
}

/* If fade out option is set */
.typed-cursor {
  color: $primary;
  text-shadow: 0 0 10px $primary,
    0 0 40px $primary,
    0 0 60px $primary,
    0 0 80px $primary,
    0 0 100px $primary;
    font-size: .8em;
}
